In [30]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import pymongo
from splinter import Browser

In [31]:
!which chromedriver

/usr/local/bin/chromedriver

In [32]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [34]:
# Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/) and 
# collect the latest News Title and Paragraph Text. 
# Assign the text to variables that you can reference later.
one_soup = bs(browser.html, 'lxml')
url1 = 'https://mars.nasa.gov/news/'
browser.visit(url1)

news_title = one_soup.find('div', class_="content_title").text
news_p = one_soup.find('div', class_="article_teaser_body").text

news_title

'NASA Seeking Partner in Contest to Name Next Mars Rover'

In [35]:
news_p

'NASA has a class assignment for corporations, nonprofits and educational organizations involved in science and space exploration: partner with the agency to inspire future engineers and scientists by sponsoring a contest to name the next rover to venture to the Red Planet.'

In [38]:
# Visit the url for JPL Featured Space Image 
# [here](https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars).
# Use splinter to navigate the site and find the image url for the current
# Featured Mars Image and assign the url string to a variable called 
# `featured_image_url`.
# Make sure to find the image url to the full size `.jpg` image.
# Make sure to save a complete url string for this image.

url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2) 
two_soup = bs(browser.html, 'lxml')

link = two_soup.find('a', class_ = "button fancybox")
featured_image_url = url2 + link['data-link']
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/spaceimages/details.php?id=PIA17046'

In [12]:
# Visit the Mars Weather twitter account [here]
# (https://twitter.com/marswxreport?lang=en) and 
# scrape the latest Mars weather tweet from the page. 
# Save the tweet text for the weather report as a variable 
# called `mars_weather`.
url3 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url3) 
three_soup = bs(browser.html, 'lxml')    

mars_weather = three_soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
mars_weather

'Astronomical autumn begins with the September equinox at 9:54 ET tonight https://www.wral.com/autumn-s-arrival-celebrated-differently-at-different-times-around-the-world/17864537/\xa0â€¦pic.twitter.com/cUArBS7WFV'

In [7]:
# Visit the Mars Facts webpage [here](http://space-facts.com/mars/) 
# and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
# Use Pandas to convert the data to a HTML table string.
url4 = 'http://space-facts.com/mars/'
# browser.visit(url4) 
# four_soup = bs(browser.html, 'lxml')

tables = pd.read_html(url4)
df1 = tables[0]
df1.columns=["Category", "Measurement"]
df1=df1.iloc[1:]
df1.head()

          Category                    Measurement
1  Polar Diameter:                       6,752 km
2            Mass:  6.42 x 10^23 kg (10.7% Earth)
3           Moons:            2 (Phobos & Deimos)
4  Orbit Distance:       227,943,824 km (1.52 AU)
5    Orbit Period:           687 days (1.9 years)

In [8]:
df1 = df1.set_index("Category")
df1.head()

                                   Measurement
Category
Polar Diameter:                       6,752 km
Mass:            6.42 x 10^23 kg (10.7% Earth)
Moons:                     2 (Phobos & Deimos)
Orbit Distance:       227,943,824 km (1.52 AU)
Orbit Period:             687 days (1.9 years)

In [9]:
df1.to_html('table.html')
#!open table.html

In [58]:
### Mars Hemispheres
#Visit the USGS Astrogeology site [here](https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars) 
# to obtain high resolution images for each of Mar's hemispheres.
#You will need to click each of the links to the hemispheres in order to 
# find the image url to the full resolution image.
#Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. 
# Use a Python dictionary to store the data using the keys `img_url` and `title`.
#Append the dictionary with the image url string and the hemisphere 
# title to a list. This list will contain one dictionary for each hemisphere.
url5 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url5) 

links = [(x.text, x['href']) for x in browser.find_by_css(
    'div[class="description"] a[class="itemLink product-item"]'
)]

hemisphere_image_urls = []
for link in links:
    browser.visit(link[1])
    img_url = browser.find_by_css('img[class="wide-image"]')['src']
    hemisphere_image_urls.append({
        'title': link[0].replace(' Hemisphere Enhanced', ''),
        'img_url': img_url,
    })
print(hemisphere_image_urls)

[{'title': 'Cerberus', 'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major', 'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [ ]:
# Start by converting your Jupyter notebook into a Python script called `scrape_mars.py` with a function called `scrape` that will execute all of your scraping code from above and return one Python dictionary containing all of the scraped data.